#!/bin/bash
for domain in "$@"
do
  echo "Downloading cert for $domain"
  /usr/local/bin/certbot certonly ${LE_ENV} --webroot --non-interactive --agree-tos --email "${EMAIL}" -w /tmp/letsencrypt-www -d "$domain"
done
