#!/bin/bash
echo "Renewing certs"
/usr/local/bin/certbot renew ${LE_ENV}
echo "Reloading NGINX config"
docker kill --signal=HUP nginx-gateway
echo "Reloading ledger-rest"
docker restart ledger-rest
echo "Reloading dollar-viz"
docker kill --signal=HUP dollar-viz
echo "Reloading blog"
docker kill --signal=HUP blog
echo "Reloading gogs"
docker restart gogs
