#!/bin/bash
function log() {
  msg="$1"
  echo "$(date) $msg"
}

log "Renewing certs"
/usr/local/bin/certbot renew ${LE_ENV}
log "Reloading NGINX config"
docker kill --signal=HUP nginx-gateway
log "Reloading ledger-rest"
docker restart ledger-rest
log "Reloading dollar-viz"
docker kill --signal=HUP dollar-viz
log "Reloading blog"
docker kill --signal=HUP blog
log "Reloading gogs"
docker restart gogs
